body {
  margin: 0;
  padding: 0;
  background-color: #000e38;
  color: #F2F2F2;
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body {
  flex: 1;
}

#pagina-reportaje {
  flex: 1;
}

#pantalla-inicial {
  position: fixed;
  inset: 0;
  background-color: #1A1A1A;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: opacity 1s ease;
}

#start-button {
  font-family: 'Press Start 2P', cursive;
  font-size: 24px;
  background-color: #FFA500;
  color: #1A1A1A;
  padding: 20px 40px;
  border: 4px solid #1A1A1A;
  cursor: pointer;
  box-shadow: 0 0 15px #FFA500;
  transition: transform 0.2s;
}

#start-button:hover {
  transform: scale(1.05);
}

#contenido {
  display: none;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contenedor-titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#contenido h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 28px;
  color: #FFA500;
  margin: 0;
  text-align: center;
  opacity: 0;
  animation: aparecerRetro 1.2s ease forwards;
}

@keyframes aparecerRetro {
  100% {
    opacity: 1;
    transform: scale(1);
    filter: brightness(100%) saturate(100%);
  }
}

#continue-button {
  font-family: 'Press Start 2P', cursive;
  font-size: 18px;
  background-color: #FFA500;
  color: #1A1A1A;
  padding: 14px 32px;
  border: 4px solid #1A1A1A;
  cursor: pointer;
  box-shadow: 0 0 10px #FFA500;
  transition: transform 0.2s;
  margin-top: 40px;
}

#continue-button:hover {
  transform: scale(1.05);
}

header#titulo-fijo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 140px;
  background-color:#1A1A1A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  box-sizing: border-box;
  border-bottom: 2px solid #FFA500;
  padding-top: 10px;
}

header#titulo-fijo h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  color: #FFA500;
  text-align: center;
  margin: 0;
  line-height: 1.4;
  z-index: 2;
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}
.contenido-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo-header {
  height: 55px;
  margin-top: 8px;
  display: block;
}

.galeria-gifs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 70px;
  margin-top: 150px;
  margin-bottom: 40px;
}

.galeria-gifs img {
  max-height: 160px;
  border: 3px solid #FFA500;
  border-radius: 12px;
  box-shadow: 0 0 12px #FFA500;
}

#pagina-reportaje {
  display: none;
  padding: 0 20px 40px 20px;
  text-align: left;
}

#pagina-reportaje h2,
#pagina-reportaje h3 {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  color: #FFA500;
}

#pagina-reportaje h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

#pagina-reportaje h3 {
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: 12px;
}

#pagina-reportaje p {
  font-family: 'Roboto', sans-serif;
  font-size: 17 px;
  color: #F2F2F2;
  line-height: 1.5;
  max-width: 700px;
  margin: 0 auto;
}
#footer-retro {
  display: none; 
  background-color: #1A1A1A;
  border-top: 2px solid #FFA500;
  padding: 40px 20px;
  text-align: center;
  margin-top: 60px;
  width: 97%;
}
#boton-restart {
  font-family: 'Press Start 2P', cursive;
  font-size: 18px;
  background-color: #FFA500;
  color: #1A1A1A;
  border: 4px solid #1A1A1A;
  padding: 18px 36px;
  cursor: pointer;
  box-shadow: 0 0 10px #FFA500;
  transition: transform 0.2s ease;
}

#boton-restart:hover {
  transform: scale(1.05);
}
.creditos {
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  color: #FFA500;
  margin-top: 20px;
}

iframe {
  border: 8px solid #ff0000;
  box-shadow: 0 0 12px #bb7900;
  margin-top: 20px;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease;
}

.fade-in {
  opacity: 0;
  animation: aparecer 1s forwards;
}

@keyframes aparecer {
  to {
    opacity: 1;
  }
}

.contenedor-campeones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  margin: 60px auto;
  max-width: 1000px;
}

.tarjeta-campeon {
  background-color: #1A1A1A;
  border: 4px solid #FFA500;
  box-shadow: 0 0 12px #FFA500;
  border-radius: 16px;
  padding: 20px;
  width: 190px;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  color: #FFA500;
  transition: transform 0.1s ease;
}

.tarjeta-campeon img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 12px;
  border: 3px solid #FFA500;
  box-shadow: 0 0 10px #FFA500;
}

.tarjeta-campeon h4 {
  font-size: 12px;
  margin-bottom: 10px;
}

.tarjeta-campeon p {
  font-size: 10px;
  margin-top: 0;
}

.izquierda {
  align-self: flex-start;
}

.derecha {
  align-self: flex-end;
}

.carrusel-campeones {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
  padding-bottom: 20px;
  max-width: 700px;
  margin: 0 auto 40px auto;
  -webkit-overflow-scrolling: touch; 
}

.carrusel-campeones::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  background: linear-gradient(to left, #000e38 80%, transparent);
  pointer-events: none;
}

.tarjeta-campeon {
  flex: 0 0 auto;
  background-color: #1A1A1A;
  border: 4px solid #FFA500;
  box-shadow: 0 0 12px #FFA500;
  border-radius: 16px;
  padding: 20px;
  width: 200px;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  color: #FFA500;
  transition: transform 0.3s ease;
}

.tarjeta-campeon:hover {
  transform: scale(0.95);
}

.tarjeta-campeon .frente img {
  width: auto;
  height: 140px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 12px;
  border: 3px solid #FFA500;
  box-shadow: 0 0 10px #FFA500;
}
img[alt="Ilia Topuria"],
img[alt="Merab Dvalishvili"]{
  margin-top: 10px;
}

.tarjeta-campeon h4 {
  font-size: 12px;
  margin-bottom: 10px;
}

.tarjeta-campeon p {
  font-size: 10px;
  margin-top: 0;
}

#pantalla-menu {
  position: fixed;
  inset: 0;
  background-color: #000e38;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.menu-interactivo {
  text-align: center;
  animation: aparecer 1s ease;
}

.menu-interactivo h2 {
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  color: #FFA500;
  margin-bottom: 40px;
}

.menu-interactivo .boton-retro {
  display: block;
  margin: 15px auto;
}
#menu-retro {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 160px;
  margin-bottom: 40px;
  z-index: 999;
  flex-wrap: wrap;
}

.boton-retro {
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  background-color: #FFA500;
  color: #1A1A1A;
  padding: 16px 28px;
  border: 4px solid #1A1A1A;
  cursor: pointer;
  box-shadow: 0 0 10px #FFA500;
  transition: transform 0.2s ease;
}

.boton-retro:hover {
  transform: scale(1.05);
}

:root {
  --card-bg: #2b2b2b; 
  --card-text: #f0f0f0;
}
.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
  gap: 20px; 
}
.card {
  width: 150px;
  height: 200px;
  perspective: 1000px;
  margin: 10px;
  position: relative;
}
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.6s;
  background-color: var(--card-bg);
  color: var(--card-text);
  box-shadow: 0 0 8px #FFA500(0, 0, 0, 0.5);
}
.card-back {
  transform: rotateY(180deg);
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}
.card:hover .card-front {
  transform: rotateY(180deg);
}
.card:hover .card-back {
  transform: rotateY(360deg);
}

#boton-back {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 10001;
  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
  background-color: #FFA500;
  color: #1A1A1A;
  padding: 12px 24px;
  border: 4px solid #1A1A1A;
  cursor: pointer;
  box-shadow: 0 0 10px #FFA500;
  transition: transform 0.2s ease;
}

#boton-back:hover {
  transform: scale(1.05);
}

/* === TRANSICIONES SUAVES ENTRE PANTALLAS === */

.fade-in {
  opacity: 0;
  animation: fadeIn 0.7s ease forwards;
}

.fade-out {
  opacity: 1;
  animation: fadeOut 0.7s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
.cinturon-header {
  position: absolute;
  right: 20px;
  top: 20px;
  height: 78px;
  z-index: 10001;
  animation: brillarCinturon 1.5s infinite;
}

@keyframes brillarCinturon {
  0%, 100% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(140%);
  }
}

.boton-menu {
  width: 495px; 
  text-align: center;
  padding: 16px 20px;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.7s ease forwards;
}

.fade-out {
  opacity: 1;
  animation: fadeOut 0.7s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.indicador-inicio {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 6px;
  width: 260px; /* mismo ancho que los botones */
  margin-left: auto;
  margin-right: auto;
}

.parpadeo-retro {
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  color: #FFA500;
  animation: blinkRetro 1s infinite steps(2, start);
}

@keyframes blinkRetro {
  0%, 100% {
    visibility: visible;
  }
  50% {
    visibility: hidden;
  }
}
